<!doctype html>
<html>
<head>
  <title>Ratings</title>
</head>

<body>
    Ratings 
  {% if session.get("user_id") %}
  <form action="/logout">
    <input type="submit" value="Logout">
</form>
    {% else %}
    <form action="/login">
    <input type="submit" value="Login">
    {% endif %}
    </form>
  <hr>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  {% block content %} put your content here {% endblock %}

</body>
</html>
